@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sofia, Bulgaria<br />
    <abbr title="Phone">P: </abbr> 0883-530-522
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:antoanelenkov@gmail.com">antoanelenkov@gmail.com</a><br />
</address>