
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>GO SPORT</h1>
    <p class="lead">The site where you can find where to practice your favourite sport!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
